<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'products' class="productLink"}}Products{{/link-to}}
  {{#link-to 'warehouses.index'}}Warehouses{{/link-to}}
</nav>

<main>
  <h1>Sahara</h1>

  {{outlet}}
</main>

<footer>
  <p>Sure, we got some products.</p>
</footer>
